docutils<0.17  # until https://github.com/sphinx-doc/sphinx/pull/9053 is released
jupyter-sphinx
sphinx >=3.5.1
sphinx-audeering-theme
sphinx-autodoc-typehints
sphinx-copybutton
sphinxcontrib-katex
sphinxcontrib-programoutput
