name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-18.04, macOS-latest ]
        python-version: [3.6]
        include:
          - os: ubuntu-latest
            python-version: 3.7
          - os: ubuntu-latest
            python-version: 3.8

    steps:
    - uses: actions/checkout@v2

    - name: Cache emodb
      uses: actions/cache@v2
      with:
        path: ~/audb
        key: emodb-1.1.1-1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    # Remove apt repos that are known to break from time to time
    # See https://github.com/actions/virtual-environments/issues/323
    - name: Remove broken apt repos [Ubuntu]
      run: |
        for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-18.04'

    - name: Prepare Ubuntu
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends --yes libsndfile1 sox
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-18.04'

    - name: Prepare OSX
      run: brew install sox
      if: matrix.os == 'macOS-latest'

    - name: Show cache content
      run: tree ~/audb
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-18.04'

    - name: Install dependencies
      run: |
        python -V
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r docs/requirements.txt
        pip install -r tests/requirements.txt

    - name: Test with pytest
      run: |
        python -m pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
      if: matrix.os == 'ubuntu-18.04'

    - name: Test building documentation
      run: |
        sudo apt-get install --yes graphviz
        python -m sphinx docs/ docs/_build/ -b html -W
        # python -m sphinx docs/ build/sphinx/html -b linkcheck
      if: matrix.os == 'ubuntu-18.04'
